{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand pr-5" style="" href="{% url 'cactus-listar' %}">
            <img src="{% static "img/cactus4.png" %}" height="50" class="d-inline-block align-top"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent ">
            <form class="d-flex ">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success ml-2" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-2">
                <li class="nav-item nav-icon">
                    <a class="btn btn-secondary" style="color: white; cursor: pointer" data-bs-toggle="tooltip"
                       data-bs-placement="bottom" title="Agregar" data-toggle="modal" data-target="#addCactus">
                        <i class="fas fa-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>