{% extends "base/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Eliminar Cactus</legend>
                <h2>Estás seguro que deseas eliminar el cactus <span
                        style="color: forestgreen">{{ object.cactus_name }}</span>?""</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Si, eliminar</button>
                <a class="btn btn-outline-secondary" href="{% url 'cactus-listar' %}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content %}
