{% extends "base/base.html" %}
{% block content %}
    {% for cactu in cactus %}
        <div class="jumbotron mt-3 bg-white shadow-lg">

            <article class="media content-section shadow">
                <a href="#" target="_blank"> <img src="{{ cactu.cactus_picture.url }}" alt=""
                                                  class="article-img rounded-circle img-thumbnail img-fluid shadow">
                </a>
                <div class="media-body">
                    <div class="article-metadata d-flex justify-content-between">
                        <a class="mr-2 " href="{% url 'cactus-pictures' cactu.id %}"><h3>{{ cactu.cactus_name }}</h3>
                        </a>
                        <small class="text-muted">{{ cactu.cactus_scientific_name }}</small>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="article-content text-justify text-truncate overflow-hidden">{{ cactu.cactus_description }}</p>
                    </div>

                    <div class="d-flex justify-content-between">
                        <small class="text-muted">{{ cactu.cactus_date }}</small>
                        <div class="">
                            <a href="{% url 'cactus-actualizar' cactu.id %}">
                                <i class="fa fa-edit" style="font-size:14px; color:dodgerblue"></i>
                            </a>
                            <a href="{% url 'cactus-eliminar' cactu.id %}">
                                <i class="fa fa-trash-alt" style="font-size:14px; color:orangered" ></i>
                            </a>
                        </div>
                    </div>


                </div>
            </article>
        </div>
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}
