<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-2 "
     style="background: #fff; border: 1px solid #e6e6e6;border-radius: 13px;">
    <div class="media pt-3 pl-3 pb-1">
        <a href="{% url "cactus-listar" %}">
            <img class="mr-3 rounded-circle" height="35" src="{{ picture.picture_file.url }}"
                 alt="{{ picture.picture_name }}">
        </a>
        <div class="media-body">
            <p style="margin-top: 5px;"><b>{{ picture.picture_cactus.cactus_name }}</b></p>
        </div>
    </div>

    <img style="width: 100%;" src="{{ picture.picture_file.url }}" alt="{{ picture.picture_name }}">

    <p class="mt-1 ml-2">
    </p>
    <p class="ml-2 mt-0 mb-2">
        <b>{{ picture.picture_cactus.cactus_scientific_name }}</b> - <small>{{ picture.picture_date }}</small>
    </p>
</div>